[submodule "UnitTestFrameworkPkg/Library/CmockaLib/cmocka"]
	path = UnitTestFrameworkPkg/Library/CmockaLib/cmocka
	url = https://github.com/tianocore/edk2-cmocka.git
[submodule "RedfishPkg/Library/JsonLib/jansson"]
	path = RedfishPkg/Library/JsonLib/jansson
	url = https://github.com/akheron/jansson
[submodule "UnitTestFrameworkPkg/Library/GoogleTestLib/googletest"]
	path = UnitTestFrameworkPkg/Library/GoogleTestLib/googletest
	url = https://github.com/google/googletest.git
[submodule "UnitTestFrameworkPkg/Library/SubhookLib/subhook"]
	path = UnitTestFrameworkPkg/Library/SubhookLib/subhook
	url = https://github.com/Zeex/subhook.git
